body {
  background-color: black;
  color: white;
}
.page {
  background-color: darkgrey;
height: 100vh;
color: white;
text-align: center;
}
.black {
  color: black;
}
.card-page {
  margin-top: 1rem;
  display: flex;
}
/* navbar */ 
