body {
  background-color: black;
  color: white;
}
.page {
  background-color: darkgrey;
height: 100vh;
color: white;
text-align: center;
}
.black {
  color: black;
}
/* puppies and parents page */ 
.card-page {
  margin-top: 1rem;
  display: flex;
}
/* end of puppies */ 

/* footer */ 
.footer {
  
  text-align: center;
}
/* end of footer */ 
/* navbar */ 
